<h1>YAY YOURE AUTHORIZED!!!!!!!!!!!</h1>

<div class="form">
  <%= form_for @user, url: callback_path(@user), method: :patch do |f| %>
  <%= f.text_field :phone_number  %>
  <%= f.submit %>
  <% end %>
</div>
